<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>6. 분석에 대한 결론</h2>
    <hr>
    <p>유의미한 요소 : OOO, OOO, OOO</p>
    <p>무의미한 요소 : OOO, OOO, OOO</p>
    <h3>마무리</h3>
    <ul>
        <li>데이터의 품질에 따라 분석 결과가 달라진다.</li>
        <li>데이터 분석 전 확보된 데이터를 충분히 검증이 필요하다.</li>
        <li>어떤 목적을 가지고 분석을 할 것인지 목표설정이 중요하다.</li>
        <li>데이터 분석에는 정답이 없기 때문에 다른 사람의 의견도 수용할 수 있어야 한다.</li>
    </ul>
</body>
</html>