<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>5.분석 결과 시각화</h2>
    <hr>
    <table>
        <tr>
            <td>
                <img src="{{url_for('static', filename='wordcloud.jpg')}}" alt='워드클라우드' width='400' height='400'/>
            </td>
            <td>
                <img src="{{url_for('static', filename='graph.jpg')}}" alt='그래프' width='400' height='400'/>
            </td>
        </tr>
    </table>
</body>
</html>